@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Rubik:wght@300&display=swap');




/* ---------------------Modal Post--------------------- */
.modaltitlepost {
    font-family: 'Rubik', sans-serif;
    padding: 0px 0px 0px 7px;
    font-size: medium;
}



/* ---------------------Modal User--------------------- */
.modaltitleuser {
    font-family: 'Rubik', sans-serif;
    padding: 0px 0px 0px 8px;
    font-size: medium;
}