@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Rubik:wght@300&display=swap');




/* ---------------------Modal Post--------------------- */
.modaltitlepost {
    font-family: 'Rubik', sans-serif;
    padding: 0px 0px 0px 7px;
    font-size: medium;
}
  

/* ---------------------Modal User--------------------- */
.modaltitleuser {
    font-family: 'Rubik', sans-serif;
    padding: 0px 0px 0px 8px;
    font-size: medium;
}

/* Container styles */
.button-container {
    position: relative;
  }
  
/* Button styles */
.closeButton {
    position: absolute;
    top: -450px; /* Adjust this value to set the button's distance from the top */
    left: 536px; /* Adjust this value to set the button's distance from the right */
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  
  .custom-input {
    width: 40%;
    border: 1px solid #ccc;
    padding: 6px;
    margin-left: 5px;
}

.custom-input:focus {
  border-color: #007bff; 
}

.modal1 {
  max-height: 600px;
  overflow-y: auto;
}